@font-face {
    font-family: 'IntroFriday';
    src: url('IntroFriday.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Square721TL';
    src: url('Square721TL-BoldExtended.woff2') format('woff2'),
        url('Square721TL-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

